<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="../../lib/d3.min.js"></script>
    <title>force layout</title>
<style>

line.forceLine{
    fill: none;
    stroke: #666;
    stroke-width: 1.5px;
}
circle.forceCircle{
    fill: #ccc;
    stroke: #333;
    stroke-width: 1.5px;
}
text{
    font: 10px sans-serif;
    pointer-events: none;
}
</style>
</head>
<body>
<script>
var width = 400, height = 400;
var svg = d3.select("body").append("svg").attr({'width': width, 'height': height});

var nodes = [{name: "0"},
             {name: "1"},
             {name: "2"},
             {name: "3"},
             {name: "4"},
             {name: "5"},
             {name: "6"}]

var edges = [{source: 0, target: 1},
             {source: 0, target: 2},
             {source: 0, target: 3},
             {source: 1, target: 4},
             {source: 1, target: 5},
             {source: 1, target: 6}]

var force = d3.layout.force()
            .nodes(nodes)
            .links(edges)
            .size([width, height])
            .linkDistance(90)
            .charge(-400);

force.start();

var color = d3.scale.category20();

//edges
var lines = svg.selectAll(".forceLine")
                .data(edges)
                .enter()
                .append("line")
                .attr("class", "forceLine");

//circles
var circles = svg.selectAll(".forceCircle")
                .data(nodes)
                .enter()
                .append("circle")
                .attr("class", "forceCircle")
                .attr("r", 20)
                .style("fill", function(d, i){
                    return color(i);
                })
                .call(force.drag)

var texts = svg.selectAll(".forceText")
                .data(nodes)
                .enter()
                .append("text")
                .attr("class", "forceText")
                .attr("x", function(d){return d.x;})
                .attr("y", function(d){return d.y;})
                .attr("dy", ".3em")
                .text(function(d){return d.name;})

force.on('tick', function(){
    //line
    lines.attr("x1", function(d){return d.source.x;})
    lines.attr("y1", function(d){return d.source.y;})
    lines.attr("x2", function(d){return d.target.x;})
    lines.attr("y2", function(d){return d.target.y;})

    //circles
    circles.attr("cx", function(d){return d.x;})
    circles.attr("cy", function(d){return d.y;})

    //texts
    texts.attr("x", function(d){return d.x;})
    texts.attr("y", function(d){return d.y;})
})

force.on("start", function(){
    console.log("starting......")
})

force.on("end", function(){
    console.log("ended.......")
})
</script> 
</body>
</html>