<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="../../lib/d3.min.js"></script>
    <title>mind layout</title>
</head>
<body>
<script>
var width = 600, height = 600;
var svg = d3.select("body").append("svg").attr({'width': width, 'height': height});

var tree = d3.layout.tree()
                .size([height, width]);

var diagonal = d3.svg.diagonal()
                .projection(function(d){return [d.y, d.x]});

d3.json("city.json", function(error, root){
    root.x0 = height / 2;
    root.y0 = 0;

    redraw(root);

    function toggle(d){
        if(d.children){
            d._children = d.children;
            d.children = null;
        }else{
            d.children = d._children;
            d._children = null;
        }
    }

    function redraw(source){
        var nodes = tree.nodes(root);
        var links = tree.links(nodes);

        nodes.forEach(function(d){d.y = d.depth * 180;})

        var nodeUpdate = svg.selectAll(".node")
                            .data(nodes, function(d){return d.name;})
        var nodeEnter = nodeUpdate.enter();
        var nodeExit = nodeUpdate.exit();

        var enterNodes = nodeEnter.append("g")
                            .attr("class", "node")
                            .attr("transform", function(d){
                                return "translate(" + source.y0 + "," + source.x0 + ")";
                            })
                            .on("click", function(d){
                                toggle(d);
                                redraw(d);
                            })

        enterNodes.append("circle").attr("r", 0)
                            .style("fill", function(d){
                                return d._children ? "lightsteelblue" : "#fff";
                            })
        enterNodes.append("text")
                            .attr("x", function(d){
                                return d.children || d._children ? -14 : 14;
                            })
                            .attr("dy", ".35em")
                            .attr("text-anchor", function(d){
                                return d.children || d._children ? "end" : "start";
                            })
                            .text(function(d){return d.name;})
                            .style("fill-opacity", 0)

        var updateNodes = nodeUpdate.transition()
                            .duration(500)
                            .attr("transform", function(d){
                                return "translate(" + d.y + "," + d.x + ")";
                            })
        updateNodes.select("circle")
                            .attr("r", 8)
                            .style("fill", function(d){
                                return d._children ? "lightsteelblue" : "#fff"
                            });
        updateNodes.select("text")
                            .style("fill-opacity", 1);
        
        var exitNodes = nodeExit.transition()
                            .duration(500)
                            .attr("transform", function(d){
                                return "translate(" + source.y + "," + source.x + ")"
                            })
                            .remove()
        exitNodes.select("circle")
                            .attr("r", 0);
        exitNodes.select("text")
                            .style("fill-opacity", 0)
    }
})
</script>  
</body>
</html>